## Visual Studio temporary files
.vs/
[Bb]in/
[Oo]bj/

## User-specific files
*.user
*.userosscache
*.suo

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

## Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Visual Studio code coverage results
*.coverage
*.coveragexml

## Selenium WebDriver
debug.log

## Local test settings
testsettings.json
.vscode/
